.about {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
  .about-head {
    padding: 20px 0;
    .about-heading {
      font-size: 1.7rem;
    }
  }
  .about-content {
    p.about-details {
      max-width: 600px;
      margin: 0 auto;
    }
  }
  .explore-connect {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;

    a.button {
      text-decoration: none;
      color: $highlight;
      padding: 10px 20px;
      border: 1px solid $text;
      border-radius: 10px;
      &:hover {
        background-color: $highlight;
        color: black;
      }
    }
  }
}
