.footer {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 50px;
  footer {
    .container {
      .dev-name {
        .name {
          font-size: 0.9rem;
          font-weight: normal;
          margin-bottom: 5px;
          a {
            text-decoration: none;
            color: $highlight;
          }
        }
        .social {
          a {
            text-decoration: none;
            color: $highlight;
            padding: 5px 10px;
            &:hover {
              color: $text-hover;
            }
            .icon {
              font-size: 1.1rem;
            }
          }
        }
      }
    }
  }
}
