.download {
  margin-top: 50px;
  .head {
    font-size: 1.6rem;
    text-align: center;
  }
  .tabs {
    display: grid;
    grid-template-columns: repeat(2, minmax(150px, 1fr));
    text-align: center;
    gap: 10px;
    margin-top: 50px;
    color: $header-color;

    .tab-wa {
      background-color: $text;
      border-radius: 5px 0px 5px 0px;
      cursor: pointer;
      &.active {
        background-color: $highlight;
      }
      .tab-head {
        padding-bottom: 10px;
        font-weight: normal;
        padding: 10px 20px;

        .active {
          font-weight: bold;
        }
        .whatsapp {
        }
      }
    }
    .tab-insta {
      background-color: $text;
      border-radius: 0px 5px 0px 5px;
      cursor: pointer;
      &.active {
        background-color: $highlight;
      }
      .tab-head {
        padding-bottom: 10px;
        font-weight: normal;
        padding: 10px 20px;
        .instagram {
        }
      }
    }
  }
  .download-items {
    margin-top: 50px;
    .datas {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      gap: 30px;
      justify-items: center;
      li.data {
        list-style: none;
        border: 1px solid $text-hover;
        padding: 10px 20px;
        border-radius: 10px;
        &:hover {
          background-color: $highlight;
        }
        a.item {
          text-decoration: none;
          color: $highlight;
          display: flex;
          &:hover {
            color: $header-color;
          }
          .download-icon {
            font-size: 1.3rem;
            margin: 5px;
          }
          .details {
            text-align: justify;

            .name {
              font-size: 1.3rem;
            }
            .version {
              font-size: 0.8rem;
            }
            .latest {
              background-color: $text;
              font-weight: bold;
              padding: 5px 10px;
              color: red;
              border-radius: 10px 0 10px 0;
              margin: 10px;
            }
          }
        }
      }
    }
  }
}
