* {
  padding: 0%;
  margin: 0;
  box-sizing: border-box;
}
@import "./scss/colors";
body {
  font-family: sans-serif;
  color: $text;
  background-color: $background;
}

@import "./components/Header/header";
@import "./pages/Home/home";
@import "./pages/About/about";
@import "./components/Box/box";
@import "./pages/Download/download";
@import "./components/footer/footer";

span.highlight {
  color: $highlight;
}
span.highlight-white {
  color: $text-hover;
}
